<body>

<div ng-controller="AddMembersCtrl">
<table class="table">

  <tr>
          <th style="text-align: center;vertical-align:middle"><input class="form-control" ng-model="contact.name" placeholder="Enter Team Member"></th>
          <th><button class="btn btn-primary" ng-click="addContact()" ng-disabled="isDisabledAdd">Add Member</button></th>
          <th><button class="btn btn-info" ng-click="update()" ng-disabled="isDisabledEdit">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></th>
        </tr>
		<tr style="background-color:#00BFFF">
   <th style="text-align: center;color:white;">Team Member</th>
	<th>&nbsp;</th>
	<th>&nbsp;</th>
  </tr>
  <tbody ng-repeat="contact in contactList">
  <tr>
    <td style="text-align: center;vertical-align:middle">{{contact.name}}</td>
	<td><button class="btn btn-danger" ng-click="remove(contact._id)">Remove</button></td>
    <td><button class="btn btn-warning" ng-click="edit(contact._id)">Edit</button></td>
  </tr>
  </tbody>
</table>
</div>

</body>
