<body>
<div class="row">
			<div class="col-xs-offset-2 col-xs-3 ">
				<div class="row">
					<h3 style="color: #00BFFF;">Daily StandUp Meeting Purpose</h3>
				</div>
				<div class="row">
					<h5 style="text-align: justify;">DSM application maintains the record of daily activities and impediments of different scrum teams.</h5>
				</div>
			</div>
			<div class="col-xs-offset-2 col-xs-3 ">
				<div class="row">
					<h3 style="color: #00BFFF;">What We Can Do </h3>
				</div>
				<div class="row">
					<h5 style="text-align: justify;">In this we can Add/Remove Scrum Teams and their members. We can also update the daily activities of all the members in the team</h5>
				</div>
			</div>
		</div>
		</body>